labelImg-master/__init__.py
labelImg-master/.gitignore
labelImg-master/CONTRIBUTING.rst
labelImg-master/HISTORY.rst
labelImg-master/issue_template.md
labelImg-master/labelImg.py
labelImg-master/labelImg.spec
labelImg-master/LICENSE
labelImg-master/Makefile
labelImg-master/MANIFEST.in
labelImg-master/README.rst
labelImg-master/resources.qrc
labelImg-master/setup.cfg
labelImg-master/setup.py
labelImg-master/.github/no-response.yml
labelImg-master/.github/workflows/package.yml
labelImg-master/build-tools/.gitignore
labelImg-master/build-tools/build-for-macos.sh
labelImg-master/build-tools/build-for-pypi.sh
labelImg-master/build-tools/build-ubuntu-binary.sh
labelImg-master/build-tools/build-windows-binary.sh
labelImg-master/build-tools/envsetup.sh
labelImg-master/build-tools/README.md
labelImg-master/build-tools/run-in-container.sh
labelImg-master/data/predefined_classes.txt
labelImg-master/demo/demo.jpg
labelImg-master/demo/demo3.jpg
labelImg-master/demo/demo4.png
labelImg-master/demo/demo5.png
labelImg-master/libs/__init__.py
labelImg-master/libs/canvas.py
labelImg-master/libs/colorDialog.py
labelImg-master/libs/combobox.py
labelImg-master/libs/constants.py
labelImg-master/libs/create_ml_io.py
labelImg-master/libs/default_label_combobox.py
labelImg-master/libs/hashableQListWidgetItem.py
labelImg-master/libs/labelDialog.py
labelImg-master/libs/labelFile.py
labelImg-master/libs/lightWidget.py
labelImg-master/libs/pascal_voc_io.py
labelImg-master/libs/settings.py
labelImg-master/libs/shape.py
labelImg-master/libs/stringBundle.py
labelImg-master/libs/toolBar.py
labelImg-master/libs/ustr.py
labelImg-master/libs/utils.py
labelImg-master/libs/yolo_io.py
labelImg-master/libs/zoomWidget.py
labelImg-master/readme/README.jp.rst
labelImg-master/readme/README.zh.rst
labelImg-master/readme/images/label-studio-1-6-player-screenshot.png
labelImg-master/readme/images/labelimg.png
labelImg-master/requirements/requirements-linux-python3.txt
labelImg-master/resources/icons/app.icns
labelImg-master/resources/icons/app.png
labelImg-master/resources/icons/app.svg
labelImg-master/resources/icons/cancel.png
labelImg-master/resources/icons/close.png
labelImg-master/resources/icons/color_line.png
labelImg-master/resources/icons/color.png
labelImg-master/resources/icons/copy.png
labelImg-master/resources/icons/delete.png
labelImg-master/resources/icons/done.png
labelImg-master/resources/icons/done.svg
labelImg-master/resources/icons/edit.png
labelImg-master/resources/icons/expert1.png
labelImg-master/resources/icons/expert2.png
labelImg-master/resources/icons/eye.png
labelImg-master/resources/icons/feBlend-icon.png
labelImg-master/resources/icons/file.png
labelImg-master/resources/icons/fit-width.png
labelImg-master/resources/icons/fit-window.png
labelImg-master/resources/icons/fit.png
labelImg-master/resources/icons/format_createml.png
labelImg-master/resources/icons/format_voc.png
labelImg-master/resources/icons/format_yolo.png
labelImg-master/resources/icons/help.png
labelImg-master/resources/icons/labels.png
labelImg-master/resources/icons/labels.svg
labelImg-master/resources/icons/light_brighten.svg
labelImg-master/resources/icons/light_darken.png
labelImg-master/resources/icons/light_darken.svg
labelImg-master/resources/icons/light_lighten.png
labelImg-master/resources/icons/light_reset.png
labelImg-master/resources/icons/light_reset.svg
labelImg-master/resources/icons/new.png
labelImg-master/resources/icons/next.png
labelImg-master/resources/icons/objects.png
labelImg-master/resources/icons/open.png
labelImg-master/resources/icons/open.svg
labelImg-master/resources/icons/prev.png
labelImg-master/resources/icons/quit.png
labelImg-master/resources/icons/resetall.png
labelImg-master/resources/icons/save-as.png
labelImg-master/resources/icons/save-as.svg
labelImg-master/resources/icons/save.png
labelImg-master/resources/icons/save.svg
labelImg-master/resources/icons/undo-cross.png
labelImg-master/resources/icons/undo.png
labelImg-master/resources/icons/verify.png
labelImg-master/resources/icons/zoom-in.png
labelImg-master/resources/icons/zoom-out.png
labelImg-master/resources/icons/zoom.png
labelImg-master/resources/strings/strings-ja-JP.properties
labelImg-master/resources/strings/strings-zh-CN.properties
labelImg-master/resources/strings/strings-zh-TW.properties
labelImg-master/resources/strings/strings.properties
labelImg-master/tests/.gitignore
labelImg-master/tests/test_io.py
labelImg-master/tests/test_qt.py
labelImg-master/tests/test_settings.py
labelImg-master/tests/test_stringBundle.py
labelImg-master/tests/test_utils.py
labelImg-master/tests/test.512.512.bmp
labelImg-master/tests/臉書.jpg
labelImg-master/tools/label_to_csv.py
labelImg-master/tools/README.md
